<h3>All Comic Titles</h3>

<%= render 'shared/comic_title_thumb' %>

<% @comic_titles.each do |comic_title| %>
  <tr>
    <td><%= link_to 'Show', comic_title %></td>
    <td><%= link_to 'Edit', edit_comic_title_path(comic_title) %></td>
    <td><%= link_to 'Destroy', comic_title, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
