// Place all the styles related to the Comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.grid_container {
	width: 160px; //(4 x 45) + (3 x 2) + (4 x 4) = 202
	height: 600px;
	margin-top: 10px;
	position: fixed;
	display: block;
}

.grid_image_box {
	padding: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	position: relative;
	width: 45px;
	height: 70px;
	float: left;
	border: solid;
	border-width: 1px;
}

.grid_image {
	margin: auto;
	display: block;
	opacity: .2;
	-webkit-filter: grayscale(100%);
	transition: all .1s ease-in-out;
   -moz-transition: all .1s ease-in-out;
   -webkit-transition: all .1s ease-in-out;
}

.grid_image_box:hover .grid_image {
	opacity: 1;
	-webkit-filter: grayscale(0%);
}

.page_image {
	width: 100%;
	margin-bottom: 10px;
}