// Place all the styles related to the comic_titles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumbnail_container {

}

.thumbnail_box {
	width: 250px;
	height: 360px;
	outline-style: solid;
	outline-width: 2.5px;
	padding: 5px;
}

.thumb_image {
    position: relative;
    overflow: hidden;
   	margin-right: auto;
	margin-left: auto;
	display: block;
	opacity: 1;
	transition: opacity .1s ease-in-out;
   -moz-transition: opacity .1s ease-in-out;
   -webkit-transition: opacity .1s ease-in-out;
}

.thumb_synopsis {
	width: 100%;
	height: 300px; 
	bottom: 370px;
	position: relative;
	visibility: hidden;
}

.thumb_synopsis span {
	width:100%;
	height:100%;
	position:absolute;
	z-index:2;
	top:0px;
	left:0px;
}

.thumb_info {
	height: 60px
}

.thumbnail_box:hover .thumb_synopsis {
	visibility: visible;
}

.thumbnail_box:hover .thumb_image {
	opacity: .08;
}