// Place all the styles related to the comic_titles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* -- thumbnail -- */

.thumbnail_container {

}

.thumbnail_box {
	width: 250px;
	height: 360px;
	outline-style: solid;
	outline-width: 1.5px;
	outline-color: gray;
	padding: 5px;
	box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

.thumb_image {
    position: relative;
    overflow: hidden;
   	margin-right: auto;
	margin-left: auto;
	display: block;
	opacity: 1;
	transition: opacity .1s ease-in-out;
   -moz-transition: opacity .1s ease-in-out;
   -webkit-transition: opacity .1s ease-in-out;
}

.thumb_synopsis {
	width: 100%;
	height: 300px; 
	bottom: 370px;
	position: relative;
	visibility: hidden;
}

.thumb_synopsis span {
	width:100%;
	height:100%;
	position:absolute;
	word-wrap: break-word;
	z-index:2;
	top:0px;
	left:0px;
	color: black;
}

.thumb_info {
	height: 60px
}
.thumb_info .username {
	float: left;
}
.thumb_info .item_count {
	float: right;
}

.admin_links {
	padding-left: 0px;
	padding-top: 10px;
}

.thumbnail_box:hover .thumb_synopsis {
	visibility: visible;
}

.thumbnail_box:hover .thumb_image {
	opacity: .08;
}



/* -- comic title show -- */

.title_info_box {

}

.synopsis {
	word-wrap: break-word;
}

.title_cover_page {
	display: block;
	margin: auto;
}

#title_cover_page_box{
	margin-bottom: 10px;
	padding: 0px;
}