// Place all the styles related to the comic_titles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.thumb_page {
    position: relative;
    overflow: hidden;
   	margin-right: auto;
	margin-left: auto;
	display: block;
	opacity: 1;
	transition: opacity .1s ease-in-out;
   -moz-transition: opacity .1s ease-in-out;
   -webkit-transition: opacity .1s ease-in-out;
}

.thumbnail_box {
	width: 250px;
	height: 380px;
	outline-style: solid;
	outline-width: 2.5px;
	padding: 5px;
}

.thumb_synopsis {
	width: 100%;
	height: 100%;
	position: relative;
	bottom: 370px;
	visibility: hidden;
}

.thumbnail_box:hover .thumb_synopsis {
	visibility:visible;
}

.thumbnail_box:hover .thumb_page {
	opacity: .1;
}