<div class="center hero-unit">
    <h1>Welcome to InkAssembly! </h1>
    <p class="lead"> <%= link_to 'Learn more',  "#" , class: "btn btn-small btn-primary" %>
		<%= link_to 'Sign up now!',  "#" , class: "btn btn-small" %>
	</p>
</div>

<h3>Comics</h3>

<%= render 'shared/comic_title_thumb' %>


<div class="wrapper">
	<div class="text">
	</div>
</div>