<div class="center hero-unit">
    <h1>Welcome to InkAssembly! </h1>
    <p class="lead"> <%= link_to 'Learn more',  "#" , class: "btn btn-small btn-primary" %>
		<%= link_to 'Sign up now!',  "#" , class: "btn btn-small" %>
	</p>
</div>


<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">…</div>
    <div class="item">…</div>
    <div class="item">…</div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<h3>Comics</h3>

<%= render 'shared/comic_title_thumb' %>